body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 24px;
}

section {
    margin: 20px 0;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
